<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
     <h1 class="text-center mb-4">Matching butlers:</h1>
     <div class="card-wrap">
      <% @butlers.each do |b| %>
      <%= link_to butler_path(b) do %>
      <div class="card shadow">
        <div class="card-image" style="background-image: url(<%= image_url(b.picture) %>);"></div>
        <h3><%= b.name %>, <%= b.age %> </h3>
        <p><%= b.description %></p>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
