<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="d-flex mt-3 justify-content-between align-items-center mt-5 mb-3 shadow panel profile-main">
        <div class="profile-picture" style="background-image: url('<%= cl_image_path @butler.photo.key, height: 500, width: 500 %>');"></div>
        <h1><%= @butler.name %></h1>
      </div>
      <div class="d-flex">
        <div class="col-md-8 shadow panel mr-2">
          <p class="border-bottom pb-3 mt-3">This is <b><%= @butler.name %></b> from <%= @butler.city %>, <%= @butler.country %>.<br><%= @butler.description %></p>
          <div class="d-flex justify-content-between pb-3">
            <div id="skills">
              <p><strong>Skills</strong></p>
              <div class="d-flex mt-4">
                <div>
                  <div class="d-flex align-items-center mb-2">
                    <img height="50"  width="50" src="<%= image_url('profile-ico-experience.svg') %>" />
                    <p class="mb-0">Experience:<br><b><%= @butler.years_of_experience %> years</b></p>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <img height="50" width="50" src="<%= image_url('profile-ico-degree.svg') %>" />
                    <p class="mb-0">Academical Grade:<br><b><%= @butler.academic_grade %></b></p>
                  </div>
                  <div class="d-flex align-items-center">
                    <img height="50" width="50" src="<%= image_url('profile-ico-age.svg') %>" />
                    <p class="mb-0">Age:<br><b><%= @butler.age %> years</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 booking-form panel shadow p-4 ml-2">
          <h3 class="pb-3">Book <%= @butler.name %>!</h3>
          <b><%= @butler.price %> € per day</b>
          <%= simple_form_for(@booking) do |f| %>
            <%= f.hidden_field :butler_id, value: @butler.id %>
            <%= f.input :start_date, as: :string, html5: true, input_html: { id: "range_start" } %>
            <%= f.input :end_date, as: :string, html5: true, input_html: { id: "range_end" } %>
            <%= f.submit 'Book this Penguin', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
