<div class="container">
  <div class="row">
    <div id="login" class="col-md-10 pt-5">
      <div class="col-md-6 pt-5">
        <h2>Log in</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% end %>

          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }
          %>
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "current-password" }
          %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit, "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
